 body {
    background:#2797EC;
color: white;

}

fieldset{
    background:#2797EC;
    border: 2px solid white;

}
button{
    background:greenyellow;
    border-radius: 10px;
    border: 2px solid #1F3201;
}