
@media only screen and (max-width: 360px){
  .container .hero-block .header{
      display:none;
  }
  .container .hero-block .hero-block-information .imag1{
    height:72px ;
    width:48px ;
  }
  .container .hero-block .hero-block-information{
      display:flex;
      flex-direction: column;
    }
   .container .hero-block .hero-block-information {
       padding-left: 10px;
   }
   .container .hero-block .hero-block-information .hero-block-details button{
    display:flex;
    justify-content: center;
    margin: 50px 90px 12px 0;
    padding: 14px 51px 13px;
    border: none;
   }
   .container .conference-details span{
    font-size: 30px;
    line-height: 45px;
   }
   .container .conference-details .conference-numbers {
       display: flex;
       flex-wrap: wrap;
   }
   .container .conference-details .conference-numbers .a1,.a2,.a3,.a4{
    width:calc(100%/2) ;
 }
}
