body{
    background-color:yellow;
}
.container{
    display: flex;
    width: 100%;
   
}
.container .container1{
    background-color: orangered;
    width: 50%;
    height: 100px;
}
.container2{
    background-color: orangered;
    width: 50%;
    height: 100px; 
    margin-left: 2px; 
}